<article>
    <h1>Where to go?</h1>
    <div class="random-machine">
        <div class="content-box">
            <ng-container *ngFor="let idea of ideaList; index as i">
                <div class="content"
                [ngClass]="transform(idea.state)"
                (transitionend)="tend(idea)">
                    <h2 class="name">{{ idea.name }}</h2>
                    <img [src]="idea.img">
                </div>
            </ng-container>
        </div>
        <button (click)="start()">Start</button>
        <button (click)="stop()">Stop</button>
    </div>
    
    <ng-container *ngIf="targetIdea">
        <p>
            <a [href]="targetIdea.url">{{ targetIdea.title }}</a>
        </p>
    </ng-container>
</article>