<article>
    <h1>Where to go?</h1>
    <div class="random-machine">
        <div class="content-box">
            <div class="content-slider" [style.transform]="transform">
                <ng-container *ngFor="let idea of ideaList">
                    <div class="content">
                        <h2 class="name">{{ idea.name }}</h2>
                        <img [src]="idea.img">
                    </div>
                </ng-container>
            </div>
        </div>
        <button (click)="reset()">Reset</button>
        <button (click)="start()">Start</button>
    </div>
    
    <ng-container *ngIf="targetIdea">
        <p>
            <a [href]="targetIdea.url">{{ targetIdea.title }}</a>
        </p>
    </ng-container>
</article>